* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.header {
    padding-top: 63px;
}

.sticky-navbar {
    width: 1170px;
    height: 45px;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    display: inline-block;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    margin-top: 13px;
}

.menu {
    float: right;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1.4px;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}

.menu-link:hover {
    color: #212121;
}

.menu-link:active {
    color: #8c8c8c;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.slider {
    height: 800px;
    background-image: url(img/slider-img.jpg);
    position: relative;
}

.slider-text {
    margin-top: 283px;
}

.slider-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.slider-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    margin-top: 10px;
}

.slider-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    width: 458px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.button:hover {
    box-shadow: 0 3px 6px 2px rgba(33, 33, 33, 0.35);
}

.button:active {
    box-shadow: 0px 0px 0px rgba(33, 33, 33, 0.35);
}

.button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    width: 212px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    text-decoration: none;
}

.pagination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.circle:hover {
    background-color: #212121;
}

.circle:active {
    background-color: #c7c7c7;
}

.circle-active {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #212121;
    border-radius: 50%;
    margin-bottom: 0px;
}

.featured {
    height: 609px;
    background-color: #ffffff;
}

.tab-control {
    padding-top: 120px;
    box-sizing: border-box;
}

.menu-tab {
    float: left;
}

.menu-tab-list {
    float: left;
    list-style-type: none;
}

.menu-tab-link:hover {
    color: #212121;
    border-bottom: 3px solid #212121;
}

.menu-tab-link {
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid #6c6c6c;
    padding: 9px 13px;
}

.menu-tab-link-active {
    color: #212121;
    border-bottom: 3px solid #212121;
}

.btn-explore {
    display: block;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-align: right;
    text-decoration: none;
    padding-top: 18px;
    padding-bottom: 68px;
}

.tab-content {
    height: 270px;
    display: inline-flex;
}

.product:hover .product-overlay {
    display: block;
}

.product {
    position: relative;
}

.product-image {
    display: block;
    width: 270px;
    height: 270px;
    margin-left: 15px;
    margin-right: 15px;
}

.product-image-first {
    margin-left: 0px;
    margin-right: 15px;
}

.product-image-last {
    margin-left: 15px;
    margin-right: 0px;
}

.product-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 270px;
    height: 270px;
    display: block;
    position: absolute;
    text-align: center;
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0.9;
    margin-left: 15px;
    margin-right: 15px;
    display: none;
}

.product-overlay-first {
    margin-left: 0px;
    margin-right: 15px;
}

.product-overlay-last {
    margin-left: 15px;
    margin-right: 0px;
}

.product-overlay-button:hover {
    box-shadow: 0 3px 6px 2px rgba(33, 33, 33, 0.35);
}

.product-overlay-button:active {
    box-shadow: 0 1px 4px 0px rgba(33, 33, 33, 0.35);
}

.product-overlay-button {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    text-align: center;
    border-radius: 24px;
    background-color: #ffffff;
    width: 48px;
    height: 48px;
    display: inline-block;
    text-decoration: none;
    margin-top: 62px;
    position: relative;
}

.product-overlay-button-image {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.product-overlay-h4 {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    margin-top: 19px;
    margin-bottom: 23px;
    padding-left: 10px;
    padding-right: 10px;
}

.product-overlay-text {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.promo {
    width: 1366px;
    height: 683px;
    position: relative;
}

.promo-product {
    height: 683px;
    width: 683px;
}

.promo-product-image1 {
    background-image: url(img/promo-img1.jpg);
    float: left;
}

.promo-product-image2 {
    background-image: url(img/promo-img2.jpg);
    float: right;
}

.promo-content {
    margin-left: 50px;
    margin-top: 228px;
    margin-right: 259px;
}

.promo-exclusive {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.promo-h3 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    margin-top: 14px;
    margin-bottom: 20px;
}

.promo-content-text {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 34px;
}

.trending {
    height: 1108px;
    background-color: #ffffff;
}

.trending-tab {
    padding-top: 120px;
}

.trending-h3 {
    float: left;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

.trending-tab-content {
    width: 1170px;

}

.products {
    width: 1170px;
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
}

.trending-product-image {
    display: block;
    width: 370px;
    height: 370px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.trending-product-image-bottom {
    margin-bottom: 0px;
}

.trending-product-image-first {
    margin-left: 0px;
    margin-right: 15px;
}

.trending-product-image-last {
    margin-left: 15px;
    margin-right: 0px;
}

.trending-product-image:hover {
    opacity: 0.7;
}

.slider2 {
    height: 800px;
    background-image: url(img/slider-img2.jpg);
    position: relative;
}

.slider2-text {
    padding-top: 283px
}

.slider-hotdeal {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.exclusive {
    width: 1170px;
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
}

.exclusive-product {
    height: 570px;
    width: 570px;
    position: relative;
    background-image: url(img/product-1-lg.jpg);
}

.exclusive-content {
    margin-left: 50px;
    margin-top: 186px;
    margin-right: 259px;
}

.exclusive-exclusive {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.exclusive-h3 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    margin-top: 14px;
    margin-bottom: 20px;
}

.exclusive-content-text {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 34px;
}

.exclusive-products {
    width: 600px;
    height: 570px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.exclusive-product-image {
    display: block;
    width: 270px;
    height: 270px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.exclusive-product-image-bottom {
    margin-bottom: 0px;
}

.exclusive-product-image-first {
    margin-left: 30px;
    margin-right: 15px;
}

.exclusive-product-image-last {
    margin-left: 15px;
    margin-right: 0px;
}

.exclusive-product-image:hover {
    opacity: 0.7;
}

.mobile {
    width: 1170px;
    height: 516px;
    background-image: url(img/back-img.jpg);
    position: relative;
}

.mobile-content {
    position: relative;
    padding-top: 125px;
    padding-right: 420px;
}

.mobile-app {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.mobile-h3 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
}

.mobile-text {
    margin-top: 10px;
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

.apps {
    margin-top: 33px;
}

.appstore {
    margin-right: 5px;
}

.googleplay {
    margin-left: 5px;
}

.appstore:hover {
    opacity: 0.7;
}

.googleplay:hover {
    opacity: 0.7;
}

.footer {
    width: 1170px;
    height: 384px;
    background-color: #f7f7f7;
    position: relative;
}

.top-content {
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
}

.footer-header {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.contact-us {
    margin-right: 30px;
    width: 270px;
}

.footer-contacts {
    margin-top: 24px;
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

.email-link {
    text-decoration: none;
    color: #212121;
}

.email-link:hover {
    text-decoration: underline;
}

.useful-information {
    margin-right: 30px;
    width: 470px;
}

.footer-links {
    margin-top: 24px;
    display: flex;
    height: 63px;
    line-height: 1.5;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer-links a {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    text-decoration: none;
}

.subscribe {
    width: 370px;
}

.subscribe-text {
    margin-top: 24px;
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

.subscribe-email {
    margin-top: 26px;
    position: relative;
}

.subscribe-input {
    width: 370px;
    height: 48px;
    border: 1px solid #d9dee1;
    background-color: #ffffff;
    padding-left: 19px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    box-sizing: border-box
}

.subscribe-send {
    position: absolute;
    top: 16px;
    right: 14px;
    border: none;
    background-color: transparent;
}

.subscribe-send:hover {
    opacity: 0.7;
}

.bottom-content {
    margin-top: 59px;
    display: flex;
    position: relative;
}

.copyright {
    margin-top: 8px;
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    display: flex;
}

.terms {
    margin-top: 8px;
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    text-decoration: none;
    display: flex;
    margin-left: auto;
}

.terms a {
    text-decoration: none;
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.social {
    display: flex;
    position: absolute;
    left: 520px;
}